/*
Reset CSS
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

/* Reset Over Ride */
strong {
    font-weight: 800;
}
/* CONTENT WRAPPER */
.content-wrapper {
    max-width: 1400px;
    margin: auto;
    font-family: 'Roboto';
}

/* GENERAL */
.left {
    text-align: center;
    margin: 50px 0;
}

.right {
    max-width: 80%;
}

/* -----  Header ---------- */

header {
    display: flex;
    max-width: 1400px;
    margin: auto;
    height: 100px;
    align-items: center;
}

.header-img-container {
    padding: 10px;
    padding-right: 35px;
    cursor: pointer;
    display: inline-block;
    max-width: 100px;
    vertical-align: middle;
}

.header-stripe {
    position: relative;
    width: 100%;
    height: 45px;
    background: #FF5964;
    display: inline-block;
    max-width: 1262px;
    vertical-align: middle;
}

span.header-title {
    line-height: 45px;
    color: #fff;
    font-family: 'Roboto';
    font-size: 25px;
    padding-left: 50px;
}

.hamburger{
    display: none;
	position: absolute;
    z-index: 10;
	width: 50px;
	height: 45px;
	right: 30px;
	top: 0;
    cursor: pointer;
}

.hb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 60%;
	height: 2px;
	background: #fff;
}

.hb:before, .hb:after{
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: .5s;
}

.hb:before{
  top: -12px;
}

.hb:after{
  top: 12px;
}

.hamburger.active .hb {
  background: rgba(0,0,0,0);
}

.hamburger.active .hb:before{
  top: 0;
  transform: rotate(45deg);
} 

.hamburger.active .hb:after{
  top: 0;
  transform: rotate(135deg);
} 

.mobile-menu {
    display: none;
    position: fixed;
    right: 0;
    background: #FF5964;
    width: 50%;
    height: 100vh;
    z-index: 10;
}

.mobile-menu.active {
    display: block;
    animation: fadeIn 500ms forwards;
}

li.mobile-classes-drop-down {
    text-align: center;
    color: #fff;
}

.mobile-menu-item{
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid #d5d2d6;
    display: block;
    font-size: 1.4em;
    cursor: pointer;
    color: #fff;
    background:#333745
}

#mobile-chevron{
    vertical-align: middle;
    padding: 3px;
    /* max-width: 10px; */
}

.mobile-classes-dropdown-wrapper {
    display: none;
}

/* Styling Classes */
.hide{
    display: none;
}

.show{
    display: block;
}


/* Nav */

nav {
    max-width: 1200px;
    margin: auto;
}
/* A69CAC */
nav ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

nav ul li {
    position: relative;
    font-size: 18px;
    font-family: 'Roboto';
    color: #333745;
    padding: 10px;
    margin: -21px auto;
    cursor: pointer;
    max-height: 18px;
    text-align: center;
}

li#get-started {
    background: #E22D2D;
    color: #fff;
    padding: 12px 12px;
    font-family: sans-serif;
    box-sizing: content-box;
}

img#chevron {
    margin-left: 8px;
}

/* Drop Down */
.classes-dropdown-wrapper {
    display: none;
    opacity: 0;
    background: #FF5964;
    color: #fff;
    top: 35px;
    position: absolute;
    min-width: 155px;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.classes-drop-down-item {
    padding: 14px;
    border-bottom: 1px solid #d5d2d6;
    cursor: pointer;
}

.classes-drop-down-item:hover {
    background: #A69CAC
}

/* ========================== MAIN */
main {
    min-height: 80vh;
}

/* GRID SYSTEM */
.row {
    display: flex;
    position: relative;
    margin: 30px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.col {
    margin: 10px;
    display: inline-block;
}

/* ========================== SECTIONS */
section li{
        padding: 10px 0;
}

section#zen-meditation, section#zen-tai-chi{
    font-size: 1.3em;
}

.section-content-wrapper {
    max-width: 75%;
    margin: auto;
}

.section-title{
    font-size: 1.6em;
    font-weight: 600;
    margin-left: 10%;
    background: url(./assets/stroke.png);
    background-size: contain;
    max-width: 300px;
    background-repeat: no-repeat;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #fff;
}

section {
    max-width: 1400px;
    min-height: 85vh;
    background-size: cover;
    margin: 50px auto auto auto;
}

/* HOME */

section#home{
    background: linear-gradient(
                rgba(255,255,255,1),
                rgba(255,255,255,0.7),
                rgba(255,255,255,0.7),
                rgba(255,255,255,1)), 
                url(./assets/home_page.jpg);
    filter: grayscale(1);
    background-size: cover;
}

/* Meditation  */
.meditation-list {
    padding-left: 10%;
    text-align: left !important;
    max-width: 600px;
}

.research-list {
    padding-right: 10%;
    text-align: left !important;
    max-width: 600px;
}

iframe {
    /* width: 85%; */
    max-width: 600px;
    height: 100%;
    min-height: 300px;
    min-width: 500px;
    box-shadow: 0px 3px 15px;
}

.men-meditate {
    background: url(./assets/men_meditate2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -350px;
    min-height: 400px;
    width: 100%;
    margin: 20px auto;
    filter: grayscale(1);
    opacity: 0.4;
}

.begin-journey {
    margin: auto auto 150px auto;
    text-align: center;
}

.begin-journey span {
    background: #FF5964;
    padding: 16px 10px;
    color: #fff;
    font-weight: 800;
    font-size: 1.3em;
    border-radius: 2px;
    cursor: pointer;
}

.meditation-keywords-wrapper {
    position: absolute;
    right: 20%;
}

.meditation-keywords-wrapper div {
    margin: 50px 0;
    font-size: 1.8em;
    color: firebrick;
}

p.researchers {
    font-size: 1.2em;
    font-weight: 800;
    padding: 5px;
}

/* Getting Started */
.getting-started-image {
    width: 100%;
    min-height: 300px;
    background: linear-gradient( rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,1)), url(./assets/getting_started.jpg);
    background-position: 0;
    filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: cover;
}

.class-package {
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.class-package-details {
    text-align: center;
    margin: 50px auto;
}

.add-to-cart {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #eee;
    background: #E22D2D;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.call {
    margin: 20px auto;
    font-weight: 800;
}

/* Private Sessions */
/* Getting Started */
.private-session-image {
    width: 100%;
    min-height: 300px;
    background: linear-gradient( rgba(255, 255, 255, 0.74), rgba(255,255,255,0.7), rgba(255,255,255,0.7), rgba(255,255,255,1)), url(./assets/private_session.jpg);
    background-position: 50%;
    filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 50px auto;
}


/* Tai Chi */
.carousel {
    padding: 10px;
    filter: grayscale(1);
    opacity: 0.4;
    width: 80%;
    max-width: 975px;
    margin: auto;
}

/* Contact */
h2.address {
    text-align: center;
    margin: 50px auto;
    font-weight: 800;
}

span.span-address {
    padding: 5px 0;
    display: block;
    font-size: 1.5em;
}

.center-pics {
    margin: auto;
    text-align: center;
}

.single-image {
    text-align: center;
}

/* About */

.bhf {
    margin: 0;
    padding: 10px;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    background: #222;
}

.blog {
    background: url(./assets/blog.jpg);
    width: 80%;
    margin: auto;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 10px 10px #aaa;
}

.col-6.team-img {
    margin: auto;
    text-align: center;
}

.meditation-special {
    padding: 5px 20px;
}

.team-img img {
    max-width: 250px;
    display: block;
    margin: auto;
    box-shadow: 2px 2px 10px #222;
}

section#about h2 {
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 0;
    width: 47%;
}

h4.contact-title {
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    padding: 20px;
    color: #FF5964;
    text-decoration: underline;
}

h3.contact-title {
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
    padding: 20px;
}

.our-blog {
    margin-top: 50px;
}

#contact img{
    max-width: 400px;
    width: 100%;
}

h2.contact-headers {
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.5em;
}

.parking-list {
    text-align: center;
}

ul.parking-list li {
    padding: 10px 13px;
}

p.train-route {
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    cursor: pointer;
    margin: 20px auto;
    max-width: 250px;
    background: red;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: underline;
}

p.train-route a {
    color: #fff;
}
/* BOOKS / CDS */
.media-wrapper img {
    box-shadow: 3px 4px 10px #222;
    max-height: 300px;
    max-width: 400px;
}

.audio-links-wrapper {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.audio-link {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    background: #FF5964;
    color: #fff;
    box-shadow: 1px 1px 5px #666;
}

.audio-link:hover {
    background: #fff;
    color: #222;
    transition: 300ms;
}

/* SCHEDULE */
table {
    margin: 50px auto;
    width: 85%;
}

thead {
    text-align: center;
    font-weight: 800;
    font-size: 1.2em;
}

th {
    padding: 20px 0;
    background: #ccc;
    border: 1px solid #999;
}

td {
    padding: 20px 0;
    text-align: center;
    border: 1px solid #ccc;
    min-width: 100px;
}

tr td:nth-child(1) {
    background: #eee;
    width: 100px;
}

/* Initial Section State */

section#zen-meditation{
    display: none;
}

section#zen-tai-chi{
    display: none;
}

section#schedule{
    display: none;
}

section#get-started{
    display: none;
}

section#cd-books{
    display: none;
}

section#about{
    display: none;
}

section#contact{
    display: none;
}

section#begin{
    display: none;
}

section#private{
    display: none;
}

section#books{
    display: none;
}

/* ========================== Footer */
footer {
    max-width: 80%;
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 0.7em;
    padding: 10px;
    color: #333745;
}

/* ========================== Media Queries */
@media only screen and (max-width: 1220px) {
    .men-meditate{
        background-position: 0 -180px;
    }
}

/* @media only screen and (max-width: 1000px) {
    td {
        min-width: 85px !important;
        font-size: 0.8em;
    }
} */

@media only screen and (max-width: 1000px) {
    nav ul li {
        font-size: 15px;
    }

    .classes-dropdown {
        min-width: 135px;
    }

    img#chevron {
        margin-left: 5px;
        max-width: 10px;
    }

    /* Collapse Row/Column */
    .row{
        display: block;
        padding-bottom: 0;
    }

    .col{
        text-align: center;
        margin: 10px auto;
        padding-bottom: 0;
        width: 100%;
    }

    .section-content-wrapper{
        max-width: 100%;
    }

    .research-list, .meditation-list {
        margin: 50px auto;
        padding-left: 10%;
        padding-right: 0;
        display: block;
    }

    .men-meditate{
        background-position: 0 -90px;
    }

    .meditation-keywords-wrapper{
        top: 15%;
        right: 10%;
    }

    .begin-journey {
        margin: 50px auto 100px auto;
        text-align: center;
    }

    table {
        font-size: 0.8em;
    }

    td {
        min-width: 0px;
    }

    .col-6 {
        max-width: 100%;
    }

    .right {
        max-width: 100%;
    }

    .media-wrapper img {
        max-width: 300px;
    }
}

.fadeIn {
    display: block;
    animation: fadeIn 500ms forwards;
}

@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .section-content-wrapper {
        max-width: 100%;
        margin: auto 30px;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .men-meditate{
        background-position: 0 -10px;
    }
}

@media only screen and (max-width: 768px) {
    .men-meditate{
        background-position: 0 0;
    }
}

@media only screen and (max-width: 650px) {
    .men-meditate{
        background-position: 0 75px;
    }

    .meditation-keywords-wrapper div{
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    iframe {
        min-width: 0;
        min-height: 0;
    }
}

@media only screen and (max-width: 530px) {
    span.header-title {
        line-height: 45px;
        color: #fff;
        font-family: 'Roboto';
        font-size: 20px;
        padding-left: 5px;
    }

    section#zen-meditation {
        font-size: 1em;
    }

    .mobile-menu-item {
        font-size: 1em;
    }
}

@media only screen and (max-width: 400px) {
    .header-img-container img {
        max-width: 50px;
    }

    span.header-title {
        padding-left: 5px;
    }

    .header-img-container {
        padding-right: 0px;
    }

    .hamburger {
        right: 3px;
    }

    iframe {
        max-width: 260px;
    }
}

@media only screen and (max-width: 400px) {
    span.header-title {
        font-size: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .begin-journey span{
        font-size: 1em;
    }
}

@media only screen and (max-width: 265px) {
    span.header-title {
        display: none;
    }
}

/* Animations */
@keyframes fadeIn{
    from{
        display: none;
        opacity: 0;
    }
    to{
        display: block;
        opacity: 1;
    }
}